@tailwind base;
@tailwind components;
@tailwind utilities;


    #banner320x50{
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: max-content;
        left: 0%;
        right: 0%;
        bottom: 0%;
        padding: 2em;
        margin: auto;
        background-color: #000200;
    }
